/* ========== GLOBAL ========== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

:root {
  --clr-primary: #ff7700;
  --clr-grey-1: #1a1a1a;
  --clr-grey-2: #242424;
  --clr-grey-3: #474747;
  --clr-grey-4: #c2c2c2;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  color: var(--clr-grey-4);
  background-color: var(--clr-grey-1);
}

.primary {
  color: var(--clr-primary);
}

/* ========== CONTAINER AND SECTIONS ========== */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin: 12rem 0;
}

/* ========== TYPOGRAPHY ========== */
h1 {
  font-family: "Teko";
  font-size: 9.6rem;
  letter-spacing: 1rem;
}

h2 {
  font-family: "Teko";
  font-size: 6.4rem;
  color: white;
}

h2 .heading__faded {
  color: var(--clr-grey-3);
}

h3 {
  font-family: "Teko";
  font-size: 4.8rem;
}

p {
  font-size: 1.8rem;
}

a {
  color: var(--clr-primary);
  font-size: 1.8rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-icons {
  margin-right: 0.4em;
}

/* ========== HERO ========== */
.hero {
  height: 80vh;
  background-image: url("../img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__above-heading {
  color: white;
  font-family: "Teko";
  font-size: 3rem;
}

.hero__heading {
  color: var(--clr-primary);
}

.hero .button {
  margin-right: 0;
}

/* ========== BIOGRAPHY ========== */
.biography {
  background-color: var(--clr-grey-2);
  border-left: 0.3rem solid var(--clr-primary);
  padding: 2.4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.biography .material-icons {
  font-size: 1.4rem;
}

.biography a {
  margin-top: 2rem;
  font-size: 1.4rem;
}

/* ========== MUSIC ========== */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-song {
  background: var(--clr-grey-2);
  background: -webkit-gradient(linear, left top, right top, from(#242424), to(rgba(36, 36, 36, 0)));
  background: linear-gradient(to right, #242424 0%, rgba(36, 36, 36, 0) 100%);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding: 3.2rem 0;
}

.featured-song__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-song__title {
  color: var(--clr-primary);
  margin-bottom: -0.6rem;
}

.featured-song .song__cover {
  width: 16rem;
  -webkit-transform: translateX(-3.2rem);
          transform: translateX(-3.2rem);
}

/* ========== BUTTONS ========== */
.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: var(--clr-grey-3);
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
  margin-right: 2.4rem;
}

.button--primary {
  background-color: var(--clr-primary);
}

.button--outlined {
  background-color: transparent;
  -webkit-clip-path: none;
          clip-path: none;
}

.button--outlined::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-grey-3);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 0.3rem, 0.3rem 0.3rem, 0.3rem calc(100% - 0.3rem), calc(100% - 1.4rem) calc(100% - 0.3rem), calc(100% - 0.3rem) calc(100% - 1.4rem), calc(100% - 0.3rem) 0.3rem, 0 0.3rem);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 0.3rem, 0.3rem 0.3rem, 0.3rem calc(100% - 0.3rem), calc(100% - 1.4rem) calc(100% - 0.3rem), calc(100% - 0.3rem) calc(100% - 1.4rem), calc(100% - 0.3rem) 0.3rem, 0 0.3rem);
}

.button--outlined.button--primary::before {
  background-color: var(--clr-primary);
}
/*# sourceMappingURL=main.css.map */