* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #ff7700;
    --clr-grey-1: #1a1a1a;
    --clr-grey-2: #242424;
    --clr-grey-3: #474747;
    --clr-grey-4: #c2c2c2;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
