/* ========== GLOBAL ========== */

$clr-primary: #ff7700;
$clr-grey-1: #1a1a1a;
$clr-grey-2: #242424;
$clr-grey-3: #474747;
$clr-grey-4: #c2c2c2;
$notch: polygon(
    0 0,
    100% 0,
    100% calc(100% - 1.2rem),
    calc(100% - 1.2rem) 100%,
    0 100%
);

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    color: $clr-grey-4;
    background-color: $clr-grey-1;
}

.primary {
    color: $clr-primary;
}

/* ========== CONTAINER AND SECTIONS ========== */

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin: 12rem 0;
}

/* ========== TYPOGRAPHY ========== */

h1 {
    font-family: "Teko";
    font-size: 9.6rem;
    letter-spacing: 1rem;
}

h2 {
    font-family: "Teko";
    font-size: 6.4rem;
    color: white;
    margin-bottom: 4rem;
    .heading__faded {
        color: $clr-grey-3;
    }
}

h3 {
    font-family: "Teko";
    font-size: 4.8rem;
}

p {
    font-size: 1.8rem;
}

a {
    color: $clr-primary;
    font-size: 1.8rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.material-icons {
    font-size: 1.4em;
    margin-right: 0.4em;
}

/* ========== HERO ========== */

.hero {
    height: 80vh;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__above-heading {
        color: white;
        font-family: "Teko";
        font-size: 3rem;
    }
    &__heading {
        color: $clr-primary;
    }
    .button {
        margin-right: 0;
    }
}

/* ========== BIOGRAPHY ========== */

.biography {
    background-color: $clr-grey-2;
    border-left: 0.3rem solid $clr-primary;
    padding: 2.4rem;
    grid-column: 1 / span 2;
    .material-icons {
        font-size: 1.4rem;
    }
    a {
        margin-top: 2rem;
        font-size: 1.4rem;
    }
}

/* ========== MUSIC ========== */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem 0;
    align-items: center;
}

.featured-song {
    background: $clr-grey-2;
    background: linear-gradient(
        to right,
        rgba(36, 36, 36, 1) 0%,
        rgba(36, 36, 36, 0) 100%
    );
    grid-column: 1 / span 3;
    padding: 3.2rem 0;
    &__left {
        display: flex;
        align-items: center;
    }
    &__info {
        margin-left: 1.4rem;
    }
    &__title {
        color: $clr-primary;
        margin-bottom: -0.6rem;
    }
    &__cover {
        width: 16rem;
        transform: translateX(-3.2rem);
    }
    .line {
        height: 0.3rem;
        width: 100%;
        background: $clr-grey-3;
        background: linear-gradient(
            to right,
            rgba(71, 71, 71, 1) 0%,
            rgba(71, 71, 71, 0) 100%
        );
    }
}

.song {
    display: flex;
    align-items: center;
    &__cover {
        width: 12rem;
        margin-right: 3.2rem;
    }
    &__title {
        font-size: 3.6rem;
        margin-bottom: 0.4rem;
    }
}

/* ========== BUTTONS ========== */

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: $clr-grey-3;
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    clip-path: $notch;
    margin-right: 2.4rem;
    &--primary {
        background-color: $clr-primary;
    }
    &--outlined {
        background-color: transparent;
        clip-path: none;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $clr-grey-3;
            clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - 1.2rem),
                calc(100% - 1.2rem) 100%,
                0 100%,
                0 0.3rem,
                0.3rem 0.3rem,
                0.3rem calc(100% - 0.3rem),
                calc(100% - 1.4rem) calc(100% - 0.3rem),
                calc(100% - 0.3rem) calc(100% - 1.4rem),
                calc(100% - 0.3rem) 0.3rem,
                0 0.3rem
            );
        }
    }
    &--outlined.button--primary::before {
        background-color: $clr-primary;
    }
    &--small {
        font-size: 1.1rem;
        padding: 1.1rem 2.4rem;
        margin-right: 1.6rem;
    }
}
