* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #ff7700;
    --clr-grey-1: #1a1a1a;
    --clr-grey-2: #242424;
    --clr-grey-3: #474747;
    --clr-grey-4: #c2c2c2;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-family: "Teko";
    font-size: 9.6rem;
    letter-spacing: 1rem;
}

p {
    font-size: 1.8rem;
}

.hero {
    height: 80vh;
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__above-heading {
        color: white;
        font-family: "Teko";
        font-size: 3rem;
    }
    &__heading {
        color: var(--clr-primary);
    }
}

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: var(--clr-grey-3);
    padding: 1.6rem 3.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 1.2rem),
        calc(100% - 1.2rem) 100%,
        0 100%
    );
    &--primary {
        background-color: var(--clr-primary);
    }
    &--outlined {
        background-color: transparent;
        clip-path: none;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--clr-grey-3);
            clip-path: polygon(
                0 0,
                100% 0,
                100% calc(100% - 1.2rem),
                calc(100% - 1.2rem) 100%,
                0 100%,
                0 0.3rem,
                0.3rem 0.3rem,
                0.3rem calc(100% - 0.3rem),
                calc(100% - 1.4rem) calc(100% - 0.3rem),
                calc(100% - 0.3rem) calc(100% - 1.4rem),
                calc(100% - 0.3rem) 0.3rem,
                0 0.3rem
            );
        }
    }
    &--outlined.button--primary::before {
        background-color: var(--clr-primary);
    }
    .material-icons {
        margin-right: 0.8rem;
    }
}
