/* ========== GLOBAL ========== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", sans-serif;
  color: #c2c2c2;
  background-color: #1a1a1a;
}

.primary {
  color: #ff7700;
}

/* ========== CONTAINER AND SECTIONS ========== */
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin-bottom: 12rem;
  scroll-margin-top: 15rem;
}

/* ========== TYPOGRAPHY ========== */
h1 {
  font-family: "Teko";
  font-size: 9.6rem;
  letter-spacing: 1rem;
}

h2 {
  font-family: "Teko";
  font-size: 6.4rem;
  color: white;
  margin-bottom: 4rem;
}

h2 .heading__faded {
  color: #474747;
}

h3 {
  font-family: "Teko";
  font-size: 4.8rem;
}

p {
  font-size: 1.8rem;
}

a {
  position: relative;
  color: #ff7700;
  font-size: 1.8rem;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.link--hover::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  background-color: currentColor;
  left: 0;
  right: 100%;
  bottom: -0.4rem;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

a.link--hover:hover::before {
  right: 0;
}

.material-icons {
  font-size: 1.4em;
  margin-right: 0.4em;
}

/* ========== NAVBAR ========== */
.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
}

.navbar__logo {
  height: 7.2rem;
}

.navbar__links {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  font-family: "Teko";
  font-size: 2.2rem;
  font-weight: normal;
  letter-spacing: 0.4rem;
  color: white;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.navbar__link:not(:last-child) {
  margin-right: 6rem;
}

.navbar__link a {
  font-size: inherit;
  color: inherit;
}

.navbar__link:hover {
  opacity: 1;
}

/* ========== HERO ========== */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 80vh;
  min-height: 60rem;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  border-bottom: 0.3rem solid #ff7700;
}

.hero__content {
  height: calc(100% - 6rem);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__above-heading {
  color: white;
  font-family: "Teko";
  font-size: 3rem;
}

.hero__heading {
  color: #ff7700;
}

.hero .button {
  margin-right: 0;
}

/* ========== ABOUT ========== */
.biography {
  background-color: #242424;
  border-left: 0.3rem solid #ff7700;
  padding: 2.4rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.biography .material-icons {
  font-size: 1.4rem;
}

.biography a {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.texture {
  height: 8rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* ========== MUSIC ========== */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.songs-grid {
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.featured-song {
  -ms-grid-columns: minmax(40rem, 1fr) minmax(40rem, 1fr) minmax(0, 1fr);
      grid-template-columns: minmax(40rem, 1fr) minmax(40rem, 1fr) minmax(0, 1fr);
  background: #242424;
  background: -webkit-gradient(linear, left top, right top, from(#242424), to(rgba(36, 36, 36, 0)));
  background: linear-gradient(to right, #242424 0%, rgba(36, 36, 36, 0) 100%);
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  padding: 3.2rem 0;
  margin-bottom: 8rem;
}

.featured-song__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-song__info {
  margin-left: 1.4rem;
}

.featured-song__title {
  color: #ff7700;
  margin-bottom: -0.6rem;
}

.featured-song__cover {
  width: 16rem;
  -webkit-transform: translateX(-3.2rem);
          transform: translateX(-3.2rem);
}

.featured-song .line {
  height: 0.3rem;
  width: 100%;
  background: #474747;
  background: -webkit-gradient(linear, left top, right top, from(#474747), to(rgba(71, 71, 71, 0)));
  background: linear-gradient(to right, #474747 0%, rgba(71, 71, 71, 0) 100%);
}

.song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.song__cover {
  width: 12rem;
  margin-right: 3.2rem;
}

.song__title {
  font-size: 3.6rem;
  margin-bottom: 0.4rem;
}

/* ========== FOLLOW ========== */
.contact-grid {
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  justify-items: center;
}

.card {
  color: white;
  list-style: none;
  background-color: #242424;
  width: 100%;
  padding: 3.2rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
}

.card__item {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.card__item .icon {
  margin-right: 1.6rem;
}

.card__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.card__item:hover {
  color: #ff7700;
}

.card__item:hover a::after {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.card a {
  width: 100%;
  color: inherit;
  font-weight: bold;
}

.card a::after {
  content: "keyboard_arrow_right";
  color: #474747;
  font-family: "Material Icons";
  font-size: 1.4em;
  line-height: 1;
  display: inline-block;
  margin-left: auto;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.contact__email {
  margin-top: 1rem;
}

/* ========== GALLERY ========== */
.gallery-section {
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.8rem 0;
  border-bottom: 0.3rem solid #ff7700;
}

.gallery-grid {
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-gap: 1.6rem;
  margin-bottom: 4.4rem;
}

.gallery-grid:last-child {
  -ms-grid-columns: (20rem)[4];
      grid-template-columns: repeat(4, 20rem);
  margin-bottom: 0;
}

.gallery-grid .button {
  width: 20rem;
  margin-right: 0;
  -ms-grid-column: 4;
  grid-column: 4;
}

.gallery__image {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__arrow {
  color: #474747;
}

.gallery__arrow .material-icons {
  font-size: 5rem;
  margin: 0;
}

/* ========== BUTTONS ========== */
.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #474747;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%);
  margin-right: 2.4rem;
}

.button--primary {
  color: black;
  background-color: #ff7700;
}

.button--outlined {
  color: white;
  background-color: transparent;
  -webkit-clip-path: none;
          clip-path: none;
}

.button--outlined::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #474747;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 0.3rem, 0.3rem 0.3rem, 0.3rem calc(100% - 0.3rem), calc(100% - 1.4rem) calc(100% - 0.3rem), calc(100% - 0.3rem) calc(100% - 1.4rem), calc(100% - 0.3rem) 0.3rem, 0 0.3rem);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.2rem), calc(100% - 1.2rem) 100%, 0 100%, 0 0.3rem, 0.3rem 0.3rem, 0.3rem calc(100% - 0.3rem), calc(100% - 1.4rem) calc(100% - 0.3rem), calc(100% - 0.3rem) calc(100% - 1.4rem), calc(100% - 0.3rem) 0.3rem, 0 0.3rem);
}

.button--outlined.button--primary::before {
  background-color: #ff7700;
}

.button--small {
  font-size: 1.1rem;
  padding: 1.1rem 2.4rem;
  margin-right: 1.6rem;
}

/* ========== SOCIALS ========== */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.socials__item {
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.socials__item:not(:last-child) {
  margin-right: 1.6rem;
}

.socials__item:hover {
  opacity: 1;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--spotify {
  background-image: url("../img/icons/spotify-brands.svg");
}

.icon--apple-music {
  background-image: url("../img/icons/apple-brands.svg");
}

.icon--amazon-music {
  background-image: url("../img/icons/amazon-brands.svg");
}

.icon--youtube {
  background-image: url("../img/icons/youtube-brands.svg");
}

.icon--instagram {
  background-image: url("../img/icons/instagram-brands.svg");
}

.icon--facebook {
  background-image: url("../img/icons/facebook-f-brands.svg");
}

/* ========== FOOTER ========== */
.footer {
  position: relative;
  margin-bottom: 7.2rem;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials {
  margin-bottom: 1.6rem;
}

.footer__watermark {
  height: 13.6rem;
  opacity: 0.05;
}
/*# sourceMappingURL=main.css.map */