@media (max-width: 900px) {
    .navbar {
        &__logo {
            height: 5.4rem;
        }
        &__links {
            display: none;
        }
    }
    .about-grid {
        grid-template-columns: 1fr;
    }
    .featured-song {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        &__cover {
            width: 12rem;
            transform: none;
        }
        &__info {
            margin-left: 3.2rem;
        }
        &__title {
            font-size: 3.6rem;
        }
        &__right {
            display: none;
        }
    }
    .texture {
        display: none;
    }
    .contact-grid {
        justify-items: start;
    }
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-grid:last-child {
        grid-template-columns: repeat(2, 20rem);
        .button {
            grid-column: 2;
        }
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: calc(16vw - 1rem);
    }
    h2 {
        font-size: 4.8rem;
    }
    .featured-song {
        grid-template-columns: 1fr;
        &__cover {
            width: 9rem;
        }
        .button {
            display: flex;
            margin-right: 0;
            margin-bottom: 1.6rem;
        }
    }
    .song__cover {
        width: 9rem;
    }
    .gallery-grid:last-child {
        grid-template-columns: repeat(2, 15rem);
        .button {
            grid-column: 1 / span 2;
            width: 100%;
        }
    }
    .gallery__image {
        width: 15rem;
        height: 15rem;
    }
    .footer {
        &__content {
            flex-direction: column;
        }
        &__socials {
            margin-bottom: 1.6rem;
        }
        &__fineprint {
            text-align: center;
        }
        &__watermark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
