// @media (max-width: 1200px) {
//     .featured-song {
//         grid-template-columns: repeat(2, 1fr);
//     }
//     .line {
//         display: none;
//     }
// }

@media (max-width: 900px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
    .featured-song {
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
        &__cover {
            width: 12rem;
            transform: none;
        }
        &__info {
            margin-left: 3.2rem;
        }
        &__title {
            font-size: 3.6rem;
        }
        &__right {
            display: none;
        }
    }
    .texture {
        display: none;
    }
    .contact-grid {
        justify-items: start;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 6.4rem;
    }
    h2 {
        font-size: 4.8rem;
    }
    .featured-song {
        grid-template-columns: 1fr;
        &__cover {
            width: 9rem;
        }
        .button {
            display: flex;
            margin-right: 0;
            margin-bottom: 1.6rem;
        }
    }
    .song__cover {
        width: 9rem;
    }
    .footer {
        &__content {
            flex-direction: column;
        }
        &__watermark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
